/* 页面顶端 */
.ding{
    background: #333;
    width:auto;
    height: auto;
}
.ding .hl{
    width: 1226px;
    height: 40px;
    margin: 0 auto;
}
.ding .hl a{
    color: #b0b0b0;
    display: inline-block;
    height: 40px;
}
/* 菜单 */
.ding .hl .menu{
    height: 40px;
    width: auto;
    float: left;
    font-size: 12px;
    line-height: 40px;
}
.ding .hl .menu span{
    color: #424242;
}
/* 登陆 */
.ding .hl .denglu{
    height: 40px;
    width: auto;
    float: right;
    font-size: 12px;
    line-height: 40px;
    margin-right: 26px;
}
.ding .hl .denglu span{
    color: #424242;
}
/* 购物车 */
.ding .hl .shopping{
    width: 120px;
    height: 40px;
    color:#b0b0b0;
    background-color: #333;
    float: right;
    font-size: 12px;
}
.ding .hl .shopping a{
    display: block;
    height: auto;
    width: auto;
    text-align: center;
    line-height: 40px;
}

/* 正文 */
.page{
    height: 100px;
    width: 1226px;
    margin: 0 auto;
}
.page .page1{
    width: 50px;
    height: 50px;
    float: left;
    margin-top: 25px;
}
.page .page1{
    background-image: url(../img/page1png.png);
}
.page .page2{
    height: 100px;
    width: auto;
    float: right;
    margin-right: 91px;
}
.page .page2 a{
    font-size: 17px;
    color: #333;
    line-height: 100px;
    margin-left: 22px;
}
.page .page3{
    height:100px;
    width: 297px;
    float: right;
}
.page .page2 a:hover{
    color: #FF6700;
}
.page .page3 button{
    width: 50px;
    height: 50px;
    float: right;
    border: 1px solid #E0E0E0;
    margin-top: 25px;
}
.page .page3 input{
    border: 1px solid #E0E0E0;
    margin-top: 25px;
}
/* 广告 */
  .open{
      width: 1226px;
      height: 120px;
      margin: 0 auto;
      margin-top:14px; 
  }






.zhengti{
    background-color: #F5F5F5;
}

/* 手机开始 */
*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.phone{
    height: auto;
    width: 1226px;
    margin: 0 auto;
}
.phone .top{
    height: 58px;
    width: auto;
    line-height: 58px;
    background-color: #F5F5F5;
}
.phone .top .git{
    display: block;
    float: right;
    cursor: pointer;
}
.phone .top .git:hover{
    color: #FF6700;
}
/* bottom开始 */
.phone .bottom{
    height: 614px;
    width: 100%;
}
.phone .bottom .box{
    height: 300px;
    width: 234px;
    margin-right: 14px;
    margin-bottom: 14px;
    background-color: #FEFEFE;
    float: left;
}
.phone .bottom .box1{
    height: 614px;
    width: 234px;
}
.phone .bottom .box2{
    margin-right: 0;
}
.phone .bottom .box .tbn img{
    display: block;
    margin: 18px auto;
}
.phone .bottom .box .tbn div{
    width: 100%;
    height:21px;
    text-align: center;
    font-size: 14px;
    color: #333;
    margin-top: 34px;
}
.phone .bottom .box  p{
    width: 100%;
    height:18px;
    text-align: center;
    font-size: 12px;
    color:#B0B0B0;
}
.phone .bottom .box pre{
    text-align: center;
    font-size: 14px;
    margin-top: 0;
    color: red;
    margin-top: 19px;
}
/* 手机结束 */


/* 家电整体 */
*{
    margin: 0;
    padding: 0;
    list-style: none;
}
s{
    color: #333;
    font-size: 12px;
}
a{
    text-decoration: #333;
}
.big{
    height: auto;
    width: 1226px;
    margin: 0 auto;
}
/* 家电top */
.big .top{
    height: 58px;
    width: auto;
    line-height: 58px;
    background-color: #F5F5F5;
    box-sizing: border-box;
}
.big .top .cool{
    font-size: 21px;
}

.big .top .hot{
    float: right;
    margin-left: 30px;
}
.big .top .hot:hover{
    color: #ff6700;
    cursor:pointer;
    border-bottom: #FF6700 solid 1px;
}
/* 家电bottom */
.big .bottom{
    height: 614px;
    width: auto;
}
/* bottom左 */
.big .bottom .left{
    width: 234px;
    height: 614px;
    float: left;
}
.big .bottom .left .up{
    width: 234px;
    height: 300px;
    background-color: blue
}
.big .bottom .left .down{
    margin-top: 14px;
}
/* bottom右 */
.big .bottom .right{
    width: 992px;
    height: 614px;
    float:right;
    background-color: #F5F5F5;
}
.big .bottom .right .box{
    width: 234px;
    height: 300px;
    background-color: white;
    float: left;
    padding: 34px 0px 20px 0px;
    margin-left: 14px;
    margin-bottom: 14px;
    box-sizing: border-box;
}
.big .bottom .right .box p{
    display: block;
    width: 214px;
    height: 18px;
    box-sizing: border-box;
    text-align: center;
    font-size: 12px;
    color: #B7B7CC;
}
.big .bottom .right .box a span{
    display: block;
    text-align: center;
    width: 214px;
    height: 21px;
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    margin-top: 6px;
}
.big .bottom .right .box div{
    display: block;
    width: 214px;
    height: 21px;
    font-size: 14px;
    text-align: center;
    margin: 0px 10px 10px 10px;
    color:#FF6700;
    box-sizing: border-box;
    margin-top: 10px;
}
.big .bottom .right .box2{
    width: 234px;
    height: 143px;
}
.big .bottom .right .box3{
    /* margin-bottom: 0; */
}
.big .bottom .right .box img{
    display: block;
    margin: 0 auto;
}
/* 第8张 */
.big .bottom .right .over{
    height: 143px;
    width: 234px;
}

.big .bottom .right .over img{
    display: block;
    width: 80px;
    height: 80px;
    float: right;
    color: #FF6700;
    font-size: 14px;
    margin-left: 20px;
}


/* 第九张 */

.big .bottom .righ .go span{
    font-size: 18px;
}
.big .bottom .right .go .yes{
    float: right;
    height: auto;
    width: auto;
}

#nine{
    width: 85px;
    height: 50px;
    float: left;
}
#nine b{
    font-size: 18px;
    color: #333;
}
#nine span{
    color: #757575;
}

#ninepng{
    width: 100px;
    height: 98px;
    float: right;
}
/* 家电结束 */
/* 为你推荐 */
.zhengti .big .ten{
    
}